.BuildControl{
display: flex;
justify-content: space-between;

align-items: center;
margin: 5px 0;
}

.BuildControl button{
    display: block;
    font: inherit;
    padding: 5px;
    width: 80px;
    cursor: pointer;
    border: 1px solid tomato;
}


.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}
